
<h6 class="widget-title">Категории</h6>
<ul>
    @if (ViewBag.Category != null)
    {
        foreach (var item in ViewBag.Category)
        {
    <li>
        <a href="@Url.Action("Category", "Article", new {item.Name, item.Id })">
            @item.Name
        </a>
    </li>
        }
    }
</ul>